<nav class="navbar">

    <div class="container nav-container">

       

        <a href="/" class="logo">

            <img
                src="/assets/logo.png"
                alt="The Last Commit">

            <span>The Last Commit</span>

        </a>

        <div class="nav-links">

            <div class="mobile-menu-btn">

                <i class="fa-solid fa-bars"></i>
            
            </div>

            <div class="mobile-close">

                <i class="fa-solid fa-xmark"></i>
            
            </div>

            <a href="#about">About</a>

            <a href="#features">Features</a>

            <a href="#how-it-works">How it Works</a>

            <a href="#status">Bot Status</a>

        </div>

        <div class="nav-actions">

            <a
                href="#"
                class="discord-btn">

                Join Discord

            </a>

        </div>

    </div>

</nav>